{% extends 'base.html' %}

{% block content %}

<div class="container" style="padding: 5px">

<div class="row row-cols-1 row-cols-md-4 g-4">

  {% for vehicle in vehicles %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ vehicle['image'] }}" class="card-img-top" alt="vehicle image" style="padding: 5px">
      <div class="card-body">
        <h5 class="card-title">{{ vehicle['name'] }}</h5>
        <p class="card-text">{{ vehicle['description'][:125]}}...</p>
        <form method="POST" action="{{ url_for('show_single_vehicle') }}">
            <input type="hidden" name="vehicle_id" value="{{ vehicle['_id'] }}">
            <button class="btn btn-primary" type="submit">More info</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

</div>

{% endblock %}