{% extends 'base.html' %}

{% block content %}
<div class="container" style="padding: 5px">

    <br>

    <div>
        <a href="/insert_manufacturer" class="btn btn-primary">Insert a new manufacturer</a>
    </div>

    {% if message_success %}
    <div style="padding-top: 5px;">
    <div class="alert alert-success" role="alert">
      {{ message_success }}. Go back <a href="/">Home</a>
    </div>
    </div>
    {% endif %}


    {% if message_error %}
    <div style="padding-top: 5px;">
    <div class="alert alert-danger" role="alert">
      {{ message_error }}. Go back <a href="/">Home</a>
    </div>
    </div>
    {% endif %}

{#<ul class="list-group list-group-horizontal">#}
{#  <li class="list-group-item"><b>Name</b></li>#}
{#  <li class="list-group-item"><b>Country</b></li>#}
{#  <li class="list-group-item"><b>Year</b></li>#}
{#  <li class="list-group-item"><b>Founder</b></li>#}
{#  <li class="list-group-item"><b>Description</b></li>#}
{#</ul>#}
{##}
{#{% for manufacturer in manufacturers %}#}
{#<form method="POST" action="{{ url_for('update_manufacturer') }}">#}
{#<ul class="list-group list-group-horizontal">#}
{#  <li class="list-group-item">{{ manufacturer['name'] }}</li>#}
{#  <li class="list-group-item">{{ manufacturer['country'] }}</li>#}
{#  <li class="list-group-item">{{ manufacturer['year'] }}</li>#}
{#  <li class="list-group-item">{{ manufacturer['founder'] }}</li>#}
{#  <li class="list-group-item">{{ manufacturer['description'] }}</li>#}
{#</ul>#}
{#</form>#}
{#{% endfor %}#}




    <br>
        <table class="table">
          <thead class="table-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Country</th>
              <th scope="col">Year</th>
              <th scope="col">Founder</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for manufacturer in manufacturers %}
            <tr>
              <th scope="row">
                  <form id="{{ loop.index }}" method="POST">
                      <input type="hidden" name="manufacturerId" id="manufacturerId" value="{{ manufacturer['_id'] }}"/>
                  </form>
                  {{ manufacturer['name'] }}</th>
                <td>{{ manufacturer['country'] }}</td>
                <td>{{ manufacturer['year'] }}</td>
                <td>{{ manufacturer['founder'] }}</td>
                <td>{{ manufacturer['description'] }}</td>
                <td><input form="{{ loop.index }}" type="submit" formaction="{{ url_for('update_manufacturer') }}"
                           class="btn btn-primary" name="updateBtn" id="updateBtn" value="Update Info"/></td>
                <td><input form="{{ loop.index }}" type="submit" formaction="{{ url_for('delete_manufacturer') }}"
                           class="btn btn-danger" name="deleteBtn" id="deleteBtn" value="Delete info"/></td>
            </tr>

              <!-- Modal -->
{#    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#      <div class="modal-dialog modal-dialog-centered">#}
{#        <div class="modal-content">#}
{#          <div class="modal-header">#}
{#            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Manufacturer Info</h1>#}
{#            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#          </div>#}
{#          <div class="modal-body">#}
{#            Are you sure you want to delete this manufacturer's info?#}
{#          </div>#}
{#          <div class="modal-footer">#}
{#            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>#}
{#            <form id="{{ loop.index + 1 }}" method="POST" action="{{ url_for("delete_manufacturer") }}">#}
{#                <input type="hidden" form="DeleteForm{{ loop.index }}" id="manufacturerId" name="manufacturerId" value="{{ manufacturer['_id'] }}">#}
{#                <input type="submit" class="btn btn-primary" value="Confirm"/>#}
{#            </form>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

          {% endfor %}
          </tbody>
        </table>

</div>
{% endblock %}