{% extends 'base.html' %}

{% block content %}

<div class="container">

{% if message_success %}
<div style="padding-top: 5px;">
<div class="alert alert-success" role="alert">
  {{ message_success }}. Go back <a href="/">Home</a>
</div>
</div>
{% endif %}

{% if vehicle %}
<form method="POST">
  <p>General Info: (<span style="color: red">*</span>: Mandatory)</p>
  <hr>

  <div class="mb-3">
    <label for="nameInput" class="form-label">Name <span style="color: red">*</span> </label>
    <input type="text" class="form-control" id="nameInput" name="nameInput" value="{{ vehicle['name'] }}" required>
  </div>
  <div class="mb-3">
    <label for="modelInput" class="form-label">Model <span style="color: red">*</span> </label>
    <input type="text" class="form-control" id="modelInput" name="modelInput" value="{{ vehicle['model'] }}" required>
  </div>
  <div class="mb-3">
    <label for="chassisInput" class="form-label">Chassis <span style="color: red">*</span> </label>
      <select id="chassisInput" name="chassisInput" class="form-select" required>
        {% for chassis in all_chassis %}
            {% if chassis == vehicle['chassis'] %}
                <option value="{{ chassis }}" selected>{{ chassis }}</option>
            {% else %}
                <option value="{{ chassis }}">{{ chassis }}</option>
            {% endif %}
        {% endfor %}
      </select>
  </div>
  <div class="mb-3">
    <label for="typeInput" class="form-label">Type <span style="color: red">*</span> </label>
      <select id="typeInput" name="typeInput" class="form-select" required>
        {% if vehicle['type'] == "New" %}
            <option value="New" selected>New</option>
            <option value="Used">Used</option>
        {% else %}
            <option value="Used" selected>Used</option>
            <option value="New">New</option>
        {% endif %}
      </select>
  </div>
  <div class="mb-3">
    <label for="yearInput" class="form-label">Year <span style="color: red">*</span> </label>
    <input type="number" class="form-control" id="yearInput" name="yearInput" min="1800" max="2024"
           value="{{ vehicle['year'] }}" required>
  </div>
  <div class="mb-3">
    <label for="priceInput" class="form-label">Price ($) <span style="color: red">*</span> </label>
    <input type="number" class="form-control" id="priceInput" name="priceInput" min="1"
           value="{{ vehicle['price'] }}" required>
  </div>
  <div class="mb-3">
    <label for="manufacturerInput" class="form-label">Manufacturer <span style="color: red">*</span> </label>
      <select id="manufacturerInput" name="manufacturerInput" class="form-select" required>
        {% for manufacturer in manufacturers %}
            {% if manufacturer['_id'] == vehicle['manufacturer_id'] %}
                <option value="{{ manufacturer['_id'] }}" selected>{{ manufacturer['name'] }}</option>
            {% else %}
                <option value="{{ manufacturer['_id'] }}">{{ manufacturer['name'] }}</option>
            {% endif %}
        {% endfor %}
      </select>
  </div>
  <label for="descriptionInput" class="form-label">Description <span style="color: red">*</span> </label>
  <div class="form-floating">
    <textarea class="form-control" id="descriptionInput" name="descriptionInput" style="height: 100px">{{ vehicle['description'] }}</textarea>
  </div>

  <br>

{% if vehicle['mechanical_details'] %}
  <div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                Mechanical Details
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="mb-3">
                    <label for="engineInput" class="form-label">Engine</label>
                    <input type="text" class="form-control" id="engineInput" name="engineInput"
                    value="{{ vehicle['mechanical_details']['engine'] }}">
                </div>
                <div class="mb-3">
                    <label for="cylindersInput" class="form-label">Cylinders</label>
                    <input type="number" class="form-control" id="cylindersInput" name="cylindersInput"
                    value="{{ vehicle['mechanical_details']['cylinders'] }}">
                </div>
                <div class="mb-3">
                    <label for="fuelInput" class="form-label">Fuel</label>
                    <input type="text" class="form-control" id="fuelInput" name="fuelInput"
                    value="{{ vehicle['mechanical_details']['fuel'] }}">
                </div>
                <div class="mb-3">
                    <label for="mileageInput" class="form-label">Mileage</label>
                    <input type="number" class="form-control" id="mileageInput" name="mileageInput"
                    value="{{ vehicle['mechanical_details']['mileage'] }}">
                </div>
                <div class="mb-3">
                    <label for="transmissionInput" class="form-label">Transmission</label>
                    <input type="text" class="form-control" id="transmissionInput" name="transmissionInput"
                    value="{{ vehicle['mechanical_details']['transmission'] }}">
                </div>
                <div class="mb-3">
                    <label for="mileageInput" class="form-label">Mileage</label>
                    <input type="number" class="form-control" id="mileageInput" name="mileageInput"
                    value="{{ vehicle['mechanical_details']['mileage'] }}">
                </div>
                <div class="mb-3">
                    <label for="drivetrainInput" class="form-label">Drivetrain</label>
                         <select id="drivetrainInput" name="drivetrainInput" class="form-select">
                            {% for drivetrain in drivetrains %}
                                {% if drivetrain == vehicle['mechanical_details']['drivetrain'] %}
                                    <option value="{{ drivetrain }}" selected>{{ drivetrain }}</option>
                                {% else %}
                                    <option value="{{ drivetrain }}">{{ drivetrain }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                </div>
            </div>
        </div>
        </div>
  </div>
{% else %}
  <div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                Mechanical Details
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="mb-3">
                    <label for="engineInput" class="form-label">Engine</label>
                    <input type="text" class="form-control" id="engineInput" name="engineInput">
                </div>
                <div class="mb-3">
                    <label for="cylindersInput" class="form-label">Cylinders</label>
                    <input type="number" class="form-control" id="cylindersInput" name="cylindersInput">
                </div>
                <div class="mb-3">
                    <label for="fuelInput" class="form-label">Fuel</label>
                    <input type="text" class="form-control" id="fuelInput" name="fuelInput">
                </div>
                <div class="mb-3">
                    <label for="mileageInput" class="form-label">Mileage</label>
                    <input type="number" class="form-control" id="mileageInput" name="mileageInput">
                </div>
                <div class="mb-3">
                    <label for="transmissionInput" class="form-label">Transmission</label>
                    <input type="text" class="form-control" id="transmissionInput" name="transmissionInput">
                </div>
                <div class="mb-3">
                    <label for="mileageInput" class="form-label">Mileage</label>
                    <input type="number" class="form-control" id="mileageInput" name="mileageInput">
                </div>
                <div class="mb-3">
                    <label for="mileageInput" class="form-label">Transmission</label>
                    <input type="text" class="form-control" id="transmissionInput" name="transmissionInput">
                </div>
                <div class="mb-3">
                    <label for="drivetrainInput" class="form-label">Drivetrain</label>
                         <select id="drivetrainInput" name="drivetrainInput" class="form-select">
                            {% for drivetrain in drivetrains %}
                                <option value="{{ drivetrain }}">{{ drivetrain }}</option>
                            {% endfor %}
                        </select>
                </div>
            </div>
        </div>
        </div>
  </div>
{% endif %}

  <br>

{% if vehicle['body_details'] %}
  <div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                Body Details
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <div class="mb-3">
                <label for="trimInput" class="form-label">Trim</label>
                <input type="text" class="form-control" id="trimInput" name="trimInput"
                value="{{ vehicle['body_details']['trim'] }}">
            </div>
            <div class="mb-3">
                <label for="doorsInput" class="form-label">Doors</label>
                <input type="number" class="form-control" id="doorsInput" name="doorsInput" min="2"
                value="{{ vehicle['body_details']['doors'] }}">
            </div>
            <div class="mb-3">
                <label for="excolorInput" class="form-label">Exterior Color</label>
                <input type="text" class="form-control" id="excolorInput" name="excolorInput"
                value="{{ vehicle['body_details']['exterior'] }}">
            </div>
            <div class="mb-3">
                <label for="incolorInput" class="form-label">Interior Color</label>
                <input type="text" class="form-control" id="incolorInput" name="incolorInput"
                value="{{ vehicle['body_details']['interior'] }}">
            </div>
            </div>
        </div>
        </div>
  </div>
{% else %}
  <div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                Body Details
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <div class="mb-3">
                <label for="trimInput" class="form-label">Trim</label>
                <input type="text" class="form-control" id="trimInput" name="trimInput">
            </div>
            <div class="mb-3">
                <label for="doorsInput" class="form-label">Doors</label>
                <input type="number" class="form-control" id="doorsInput" name="doorsInput" min="2">
            </div>
            <div class="mb-3">
                <label for="excolorInput" class="form-label">Exterior Color</label>
                <input type="text" class="form-control" id="excolorInput" name="excolorInput">
            </div>
            <div class="mb-3">
                <label for="incolorInput" class="form-label">Interior Color</label>
                <input type="text" class="form-control" id="incolorInput" name="incolorInput">
            </div>
            </div>
        </div>
        </div>
  </div>
{% endif %}

  <br>

    <input type="hidden" id="vehicleId" name="vehicleId" value="{{ vehicle['_id'] }}">
    <input type="submit" id="updateBtn" name="updateBtn" formaction="{{ url_for('update_vehicle') }}"
           class="btn btn-primary" value="Save Update">
{% endif %}

</form>
</div>

{% endblock %}